@page
@model IJune.Pages.AlbumAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Album.AlbumName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.AlbumName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album.ArtistName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.ArtistName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album.AlbumImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.AlbumImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album.SampleAudio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.SampleAudio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album.stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.stock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album.Review)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.Review)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album.Label)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.Label)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.Rating)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Album.AlbumID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
