@page
@model IJune.Pages.AlbumAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].AlbumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].AlbumImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].SampleAudio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].Review)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].Label)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Album) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SampleAudio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AlbumID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AlbumID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AlbumID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
