﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<style>
	body {
		background-image: url("DrugBG.jpg");
	}
	
	.jumbotron {
		background-color: Gray;
	}
	
	.jumbotron h1 {
		background-color: White;
		font-size: 700%;
		font-weight: bold;
		font-family: JasmineUPC;
	}
	
	h3 {
		font-weight: bold;
		font-size: 350%;
		font-family: JasmineUPC;
	}
	
	th {
		font-weight: bold;
		font-size: 200%;
		font-family: JasmineUPC;
	}
</style>

<div class="jumbotron">
	<center><h1> ระบบจัดเก็บรายการยา </h1></center>
</div>

<div class="row">
	<h3> รายการยา  </h3>
	<table class="table">
		<thead>
			<tr>
				<th>ชื่อยา</th><th>จำนวนคงเหลือ</th>
			</tr>
		</thead>
	<tbody>
	@foreach (var item in Model.Drug) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.DrugName)
		</td>
		<td>
			@if(@item.DrugAmout <= 20){
				@if(@item.DrugAmout == 0){
					@Html.DisplayFor(modelItem => item.DrugAmout) <p style="color:#FF0000"> สินค้าหมด </p>
				}
				else{
					@Html.DisplayFor(modelItem => item.DrugAmout) <p style="color:#FF6600"> สินค้าใกล้จะหมด </p>
				}
			}
			else{
				@Html.DisplayFor(modelItem => item.DrugAmout)
			}
		</td>
	</tr>
	}
</tbody>
</table>
</div>