@page
@model NewsReport.Pages.NewsAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียดข่าว";
}

<h2>รายละเอียดของข่าว</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
		หมวดข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsCat.NewsCategoryID)
        </dd>
        <dt>
			วันที่เกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.ReportDate)
        </dd>
        <dt>
			เนื้อข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsDetail)
        </dd>
        <dt>
			ละติจูดเกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLat)
        </dd>
        <dt>
			ลองจิจูดเกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLng)
        </dd>
        <dt>
			สถานะการยืนยัน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.News.NewsID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
