@page
@model PharmacyHelper.Pages.DrugListAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบข้อมูล";
}

<h2>ลบข้อมูล</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.DrugName)
        </dd>
        <dt>
            จำนวนคงเหลือของยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.DrugAmout)
        </dd>
        <dt>
            โพสต์โดย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.NewsUserId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Drug.DrugID" />
        <input type="submit" value="ลบข้อมูล" class="btn btn-default" /> |
        <a asp-page="./Index">ย้อนกลับ</a>
    </form>
</div>
