@page
@model PharmacyHelper.Pages.DrugListAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียด";
}

<h2>รายละเอียดยา</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.DrugName)
        </dd>
        <dt>
            จำนวนยาคงเหลือ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.DrugAmout)
        </dd>
        <dt>
            โพสต์โดย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.NewsUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Drug.DrugID">แก้ไข</a> |
    <a asp-page="./Index">ย้อนกลับ</a>
</div>
