@page
@using Microsoft.AspNetCore.Identity
@using PharmacyHelper.Models

@model PharmacyHelper.Pages.DrugListAdmin.EditModel
@inject SignInManager<PharmacyOwnerUser> SignInManager
@inject UserManager<PharmacyOwnerUser> UserManager



@{
    ViewData["Title"] = "แก้ไข";
}

<h2>แก้ไขรายละเอียดยา</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Drug.DrugID" />
            <div class="form-group">
                ชื่อยา
                <input asp-for="Drug.DrugName" class="form-control" />
                <span asp-validation-for="Drug.DrugName" class="text-danger"></span>
            </div>
            <div class="form-group">
                จำนวนยาคงเหลือ
                <input asp-for="Drug.DrugAmout" class="form-control" />
                <span asp-validation-for="Drug.DrugAmout" class="text-danger"></span>
            </div>
            <div class="form-group">
                โพสโดย: @UserManager.GetUserName(User)
                <input asp-for="Drug.NewsUserId" type="hidden" value="@UserManager.GetUserName(User)" />
                <span asp-validation-for="Drug.NewsUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">ย้อนกลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
