@page
@model PharmacyHelper.Pages.DrugListAdmin.IndexModel

@{
    ViewData["Title"] = "รายการยา";
}

<h2>รายการยา</h2>

<p>
    <a asp-page="Create">สร้างรายการยาใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
					ชื่อยา
            </th>
            <th>
					จำนวนคงเหลือของยา
            </th>
            <th>
					โพสต์โดย
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Drug) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrugName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugAmout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsUserId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DrugID">แก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.DrugID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.DrugID">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
